body{
    margin: 0;
    padding: 0;
}
.header{
    background: #007765;
    margin: auto;
    position: fixed;
    right: 0;
    left: 0;
}
.header-logo{
    display: inline-block;
    margin-left: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 2px;
    width: 100px;
    height: 25px;
    color: #FFFFFF;

}
.list-item>a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    margin-right: 2px;

}

.menu-list{
    list-style: none;
}

.decor::before{
    content: "|";
    padding-right: 12px;
}

.header-menu, .menu-list, .list-item>li {
    margin: 0;
    padding-right: 100px;
    padding-top: 2px;
}

.header-menu, .menu-list, .list-item{
    display: inline-block;
    float: right;
    color: white;

}

.poster-first{
    background-image: url("pics/backgr1.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 140px;
    padding-bottom: 140px;
}

.block-width{
    width: 1219px;
    padding-right: 55px;
    padding-left: 55px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
}

.content-problem{
    background-color: #EEEEEE;
    text-align: center;
    padding: 15px 450px 20px;
    font-family: 'Roboto', sans-serif;
}
.content-header{
    color: #007765;

}
.content-pharagraphs{
    width: 550px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}

.poster-second{
    background-image: url("pics/backgr2.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 140px 540px;
}
.introducing{
    text-align: center;

}

.introducing h1{
    color: #007765;
    font-family: sans-serif;
}

.introducing p{
    padding-left: 500px;
    padding-right: 500px;
    text-align: left;
    font-size: 17px;
    font-family: sans-serif;
}

.introducing img{
    float: left;
    width: 75px;
    height: 75px;
    padding-left: 500px;
    padding-right: 20px;

}

.team{
    background-color: #EEEEEE;
    text-align: center;
}

.team h1{
    padding-top: 30px;
}

.team figure{
    display: inline-block;
    margin: 0;
    padding: 30px 105px;

}

.name{
    font-family: sans-serif;
    font-weight: bold;
    color: #007765;
}

.copyright{
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 35px 550px;
    font-family: sans-serif;
}